
<pdf>

    <dynamic-page>



        <table>
            <tr>
                <td>
                    <img src="{{pdf_image('DSSProyectoBundle:grupoanton-bocadillo.png')}}" />
                </td>
                <td>
                    <p color="#AD1919">MODELO DE PRESUPUESTO</p>
                    <p  color="#AD1919">DATOS EMISOR</p>
                     {% for p in proveedor %}
                    <p><span color="#AD1919">CIF:</span> {{p.nif}}</p>
                    <p><span color="#AD1919">DIRECCION:</span> {{p.direccion}}</p>
                    <p><span color="#AD1919">TLF:</span> {{p.telefono}}</p>
                    
                    <p><span color="#AD1919">EMAIL:</span> {{p.email}}</p>
{% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    

                </td>
                <td>
                    <p><span color="#AD1919"> Fecha:</span> fecha</p>
                </td>
            </tr>
        </table>
        <hr></hr>
        <p><span color="#AD1919">DATOS CLIENTE:</span></p>
        {% for c in cliente %}
        <p><span color="#AD1919">Nombre:</span> {{c.nombre}}</p>
        <p><span color="#AD1919">NIF:</span> {{c.nif}}</p>
        <p><span color="#AD1919">Direccion: </span> {{c.direccion}} </p>
        {% endfor %}
        <p><span color="#AD1919">Gracias por su interés en nuestros servicios. Esta es la factura</span></p>
        
        <table>
             <tr>
                <td>
                    Nombre
                </td>
                <td>
                    Descripcion
                </td>
                <td>
                    Precio
                </td>
                
            </tr>
            {% for servicio in servicios %}
            <tr>
                
                <td>
                    {{servicio.nombre}}
                </td>
                <td>
                   {{servicio.descripcion}}
                </td>
                <td>
                    {{servicio.precio}}
                </td>
                
                
                
            </tr>
            {% endfor %}
        </table>
        

        




    </dynamic-page>
</pdf>



