<header>
    <div class="herramientas">
        <a id="inicio" href="{{path('dss_proyecto_login')}}" title="Inicio">
            <img src="{{asset('bundles/dssproyecto/images/grupoanton-bocadillo.png')}}"></img></a>
        <ul class="herramientas">
            <li class="contabilidad"><a id="login" href="{{ path('dss_proyecto_login') }}">Iniciar Sesion</a></li>
            <li class="contabilidad"><a id="registro" href="{{ path('dss_proyecto_registro') }}">Registrar</a></li>
            <li class="contabilidad"><a id="info" href="{{ path('dss_proyecto_info') }}">Info</a></li>
            
        </ul>
    </div>
    </header>
