{# empty Twig template #}
<nav>
    
        <ul class='social'>
        <img src="{{asset('bundles/dssproyecto/images/instagram.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/pinterest.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/linkedin.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/twitter.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/facebook.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/miembrosde1.png')}}">
        <img src="{{asset('bundles/dssproyecto/images/miembrosde2.png')}}">
        
    </ul>
    <ul class='miembrosde'>
        <img src="{{asset('bundles/dssproyecto/images/miembrosde3.png')}}">
    </ul>
</nav>