{# empty Twig template #}
<nav>
    
        <ul class='social'>
        <img src="{{asset('bundles/dssproyecto/Imagenes/instagram.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/pinterest.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/linkedin.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/twitter.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/facebook.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/miembrosde1.png')}}">
        <img src="{{asset('bundles/dssproyecto/Imagenes/miembrosde2.png')}}">
        
    </ul>
    <ul class='miembrosde'>
        <img src="{{asset('bundles/dssproyecto/Imagenes/miembrosde3.png')}}">
    </ul>
</nav>