{# empty Twig template #}
<nav>
    
        <ul class='social'>
        <li><img src="{{asset('bundles/dssproyecto/images/instagram.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/pinterest.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/linkedin.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/twitter.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/facebook.png')}}"></li>
        
        
    </ul>
    <ul class='miembrosde'>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde3.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde1.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde2.png')}}"></li>
    </ul>
</nav>