<header>
    <div class="herramientas">
        <a id="inicio" href="{{path('dss_proyecto_homepage')}}" title="Inicio">
            <img src="{{asset('bundles/dssproyecto/images/grupoanton-bocadillo.png')}}"></img></a>
        <ul class="herramientas">
            <li class="contabilidad"><a id="pedido" class="{{ajax_aplicacion.class}}" href="{{ path('dss_proyecto_contabilidad_pedido') }}">Pedidos</a></li>
            <li class="contabilidad"><a id="factura" class="{{ajax_aplicacion.class}}" href="{{ path('dss_proyecto_contabilidad_factura',{'_format':'html'}) }}">Facturas</a></li>
            <li class="contabilidad"><a id="albaran" class="{{ajax_aplicacion.class}}" href="{{ path('dss_proyecto_contabilidad_pedido') }}">Albaranes</a></li>
            <li class="contabilidad"><a id="presupuesto" class="{{ajax_aplicacion.class}}" href="{{ path('dss_proyecto_contabilidad_pedido') }}">Presupuestos</a></li>
            <li class="panelControl">
                <div id="Login">
                <ul class="login">
                    <li>Hola, {{app.security.getToken().getUser().getUserName()}}</li>
                    <li><a href="{{path('dss_proyecto_panel_control')}}">Panel de control</a></li>
                    <li><a href="{{path('dss_proyecto_logout')}}">Cerrar Sesion</a></li>
                </ul>
                </div></li>
        </ul>
    </div>
    </header>