<nav>
    <ul class='navegacion'>
        <li><a id="cliente" class="{{ajax_aplicacion.class}}"  href="{{ path('dss_proyecto_gestion_listar', { 'tabla': 'cliente' }) }}">Clientes</a>
        <label hidden="true" id="clienteFlecha" name="flechaIz_cliente"><a class="flechaIz"></a></label></li>
        <li><a id="proveedor" class="{{ajax_aplicacion.class}}" href="{{ path('dss_proyecto_gestion_listar', { 'tabla': 'proveedor' }) }}">Proveedores</a>
        <label hidden="true" id="proveedorFlecha" name="flechaIz_proveedor"><a class="flechaIz"></a></label></li>
        <li><a id="usuario" class="{{ajax_aplicacion.class}}"  href="{{ path('dss_proyecto_gestion_listar', { 'tabla': 'usuario' }) }}">Usuarios</a>
        <label hidden="true" id="usuarioFlecha" name="flechaIz_usuario"><a class="flechaIz"></a></label></li>
    </ul>
        <ul class='social'>
        <li><img src="{{asset('bundles/dssproyecto/images/instagram.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/pinterest.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/linkedin.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/twitter.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/facebook.png')}}"></li>
        
        
    </ul>
    <ul class='miembrosde'>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde1.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde2.png')}}"></li>
        <li><img src="{{asset('bundles/dssproyecto/images/miembrosde3.png')}}"></li>
    </ul>
</nav>
