
{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}

{% block content %}

<script type='text/javascript'>
    $(document).ready(function(){
        $('input[type="checkbox"][name="imprimir"]').change(function(){
            if($(this).attr("checked"))
            {
                /*jQuery.ajax({
                    type: "POST",
                    url: "",
                    dataType: "text",
                    data: null
                    success: function(){
                        $('#labelImprimir').text('asdf');
                    }
                });*/
            }
            else
            {
                //call the function to be fired
                //when your box changes from
                //checked to unchecked
            }
        });
    });
</script>

    <h1>Panel de control</h1>

    <br><input type="checkbox" name="imprimir" value="imprimir" title="Impresion automatica" />
    <label id="labelImprimir"></label>
    
    <br><a class="{{ajax_div_flotante.class}}" href="{{ path('dss_proyecto_modificar_email', { 'tabla': 'usuario','nif': app.security.getToken().getUser().getNif()}) }}">Cambiar Email</a>
    <br><a class="{{ajax_div_flotante.class}}" href="{{ path('dss_proyecto_modificar_pass', { 'tabla': 'usuario','nif': app.security.getToken().getUser().getNif()}) }}">Cambiar pass</a>
    <br><a class="{{ajax_div_flotante.class}}" href ="{{ path('dss_proyecto_gestion_eliminar', { 'tabla': 'usuario','nif': app.security.getToken().getUser().getNif() }) }}">Borrar usuario</a>

    {% if (app.security.getToken().getUser().getNvAcceso() == 'ROLE_ADMIN') %}
        <br><a class="{{ajax_div_flotante.class}}" href ="{{ path('dss_proyecto_gestion_crear', { 'tabla': 'usuario'})}}" >Crear usuario</a>
    {% endif %}
{% endblock %}