{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}



{% block content %}
    <div id="subtitulo">Menu de gestion de {{tabla}}</div>
    <div id="enlaceCrear">
        <a class="{{ajax_div_flotante.class}}" href="{{path('dss_proyecto_gestion_crear',{"tabla":tabla})}}">Añadir {{tabla}}</a>
    </div>
        <table class="listar" id="tabla{{tabla}}">
                <tr>
                    <th>NIF</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Nivel de Acceso </th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                   
                </tr>
                {% for usuario in table %}
                    
                    <tr>
                        
                        <td>{{usuario.nif}}</td>
                        <td>{{usuario.nombre}}</td>
                         <td>{{usuario.apellidos}}</td>
                          <td>{{usuario.nvacceso}}</td>
                           <td>{{usuario.direccion}}</td>
                           <td>{{usuario.telefono}}</td>
                           <td>{{usuario.email}}</td>
                        
                       
                        <td><a class="{{ajax_div_flotante.class}}" href="{{path('dss_proyecto_gestion_modificar',{'tabla':tabla,'nif':usuario.nif})}}">Modificar</a></td>
                        <td><a class="{{ajax_div_flotante.class}}" href="{{path('dss_proyecto_gestion_eliminar',{'tabla':tabla,'nif':usuario.nif})}}">Eliminar</a>
                    </tr>
                    {% endfor %}
                </table>
{% endblock %}